h1{
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: rgb(25, 95, 161);
}
a{
  border: 20px coral double;
  text-align: center;
  text-decoration: underline;
}
body{
  background: rgba(209, 243, 140, 0.932);
}
#right{
  width: 25%;
  padding-left: 210px;
}